* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:grid;
    align-items: center;
    text-align: center;
    height: 100vh;
}

form {
    padding: 15px;
    margin: 15px;
    background-color:rgb(173, 112, 230);
    border-radius: 5px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

#logradouro, #cep, #bairro, #uf, #cidade{
    width: 100%;
    height: 30px;
    padding: 8px;
    margin: 8px;
}
